img {
    margin: 20px;
}

.heading {
    text-align: center;
    background: #eee7ec;
    padding-top: 20px;
    padding-bottom: 20px;

}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.listing {
    margin: 20px;
    background: #ffaaa1;
}

.img-responsive {
    max-height:300px;
    margin: 15px auto;
}