html, body {
    height:100%;
}


.heading {
    text-align: center;
    background: #e6e6e6;
    padding-top: 20px;
    padding-bottom: 20px;

}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.listing {
    margin: 20px;
    background: #e6e6e6;
}

.img-responsive {
    max-height:300px;
    margin: 15px auto;

}

.intro-text {
    background: #e6e6e6;
    padding: 30px;
}
.information {
    background: #e6e6e6;
    padding: 20px;

}
body {
    background: url("https://i.ytimg.com/vi/8Z7ZhqUbhD4/maxresdefault.jpg");
}