img {
    margin: 20px;
}

h1 {
    text-align: center;
    color: blue;
}

.gallery {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.listing {
    margin: 20px;
    background: #ffaaa1;
}

.img-responsive {
    margin: 15px auto;
}